<div class="modal">
    <div class="modal-dialog">
        <div class="modal-close">×</div>
        <h2 class="modal-title">Új autó hozzáadása</h2>
        <div class="new-manufacturer-form">
            <form id="newCarForm" action="/addCar">
                <div class="form-group">
                    <label for="cName">Név</label>
                    <input type="text" class="form-control" id="cName">
                </div>
                <div class="form-group">
                    <label for="cConsumption">Fogyasztás</label>
                    <input type="number" class="form-control" id="cConsumption">
                </div>
                <div class="form-group">
                    <label for="cColor">Szín</label>
                    <input type="text" class="form-control" id="cColor">
                </div>
                <div class="form-group">
                    <label for="cManufacturer">Gyártó</label>
                    <select id="cManufacturer" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label for="cYear">Évjarát</label>
                    <input type="number" class="form-control" id="cYear">
                </div>
                <div class="form-group">
                    <label for="cAvailable">Elérhető</label>
                    <input type="number" class="form-control" id="cAvailable">
                </div>
                <div class="form-group">
                    <label for="cHorsepower">Lóerő</label>
                    <input type="number" class="form-control" id="cHorsepower">
                </div>

                <button class="savebtn" id="saveCarBtn">Ment</button>
            </form>
        </div>
    </div>
</div>
<script src="js/car.js"></script>